* {
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    height: 200vh;
    width: 100vw
}

.container {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

/* HEADER */

header {
    width: 100%;
}

/* BURGER */
.burger {
    position: fixed;
    width: 35px;
    height: 35px;
    top: 2vh;
    left: 88vw;
    transition: .7s .7s;
    z-index: 4;
}

.ico {
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #fff;
    border-radius: 15%;
    transition: top .35s, bottom .35s, transform .35s .35s
}


.ico:nth-of-type(1) {
    top: 0
}

.ico:nth-of-type(2) {
    top: calc(50% - 4px)
}

.ico:nth-of-type(3) {
    bottom: 0
}

.active .ico:nth-of-type(1) {
    top: calc(50% - 4px);
    transform: rotate(45deg)
}

.active .ico:nth-of-type(2) {
    opacity: 0;
    transition: .35s;
}

.active .ico:nth-of-type(3) {
    bottom: calc(50% - 4px);
    transform: rotate(-45deg)
}

.active {
    transform: rotate(90deg)
}

h1 {
    position: absolute;
    top: 10vh;
    left: 35vw;
    font-size: 30px;
    color: white;
    height: 200px;
    width: 200px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1.5vw;
    z-index: 4;


}

/* NAV*/

.menu .list {
    position: fixed;
    height: 100vh;
    width: 50vw;
    padding-left: 0;
    top: 0;
    left: -100%;
    background-color: #fff;
    z-index: 6;
    transition: 0.7s;
}

.list.activeBurger {
    left: 0
}

li:hover {
    background-color: #000;
    transition: .3s;
    color: #fff;
}

.menu .list>li {
    text-align: center;
    padding-top: 12%;
    padding-bottom: 9%;
    font-size: 6vh;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    word-wrap: inherit;
    letter-spacing: 1px;
}

.list li img {
    height: 80%;
    width: 80%;
}

.welcomePhoto {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    ;
    z-index: 0;

}

.welcomePhoto img {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

/* MAIN */

main {
    position: absolute;
    top: 100vh;
    left: 0;
    right: 0;
    z-index: 2;
    height: 100vh;
    background-color: white;
}

/* INFO DLA CHŁOPAKÓW */

.aboutUs {
    font-size: 50px;
    text-align: center;
}

/* LOADING-PAGE */
.loading-page {
    position: relative;
    text-align: center;
    margin: calc(50vh - 118px) calc(50vw - 163px);
    z-index: 7;
}



.right {
    position: absolute;
    top: 4.5%;
    left: 51%;
    width: 113px;
    height: 26px;
    background-color: white;
    animation: sq-right 1s linear forwards;
}

.left {
    position: absolute;
    top: 81%;
    left: 13.5%;
    width: 113px;
    height: 26px;
    background-color: white;
    animation: sq-left 1s linear forwards
}

.top {
    position: absolute;
    width: 36px;
    height: 180px;
    top: 0%;
    left: 4%;
    background-color: white;
    transform: rotate(3deg);
    animation: sq-top 1s 1s linear forwards
}

.bottom {
    position: absolute;
    width: 36px;
    height: 180px;
    top: 16%;
    left: 84%;
    background-color: white;
    transform: rotate(3deg);
    animation: sq-bottom 1s 1s linear forwards;
}

.start {
    background-color: black;
    position: absolute;
    top: 100px;
    left: 155.5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation: welcomeCircle 1s 2s linear forwards
}

@keyframes sq-left {
    0% {}

    100% {
        left: -23.5%;
    }
}

@keyframes sq-right {
    0% {}

    100% {
        left: 88%
    }
}

@keyframes sq-top {
    0% {}

    100% {
        width: 120px;
        top: -66%
    }
}

@keyframes sq-bottom {
    20% {}

    100% {
        top: 82.5%;
        left: 70%;
        width: 120px;
    }
}

@keyframes welcomeCircle {
    0% {
        opacity: 100%;
    }

    1% {
        opacity: 0%;
    }

    100% {
        width: 3000px;
        height: 3000px;
        top: -1450px;
        left: -1400px;
    }
}
